<div class="bg_gradient">
  <!-- <div class="relative inline-block left-1/2 -translate-x-1/2 translate-y-1/2">
    <div class="box bg-white rounded-3xl p-5 w-[500px]">
    <div>
      <h1 class="mx-auto text-center uppercase">Register</h1>
    </div>
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label
      [nzSm]="6"
      [nzXs]="24"
      nzFor="name"
      nzRequired
    >
      <span>Name</span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your name!">
      <input nz-input id="name" formControlName="name" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
      <input nz-input formControlName="email" id="email" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Password</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
      <input
        nz-input
        type="password"
        id="password"
        formControlName="password"

      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="img" nzRequired>Img</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your img!">
       <input
        nz-input
        type="password"
        id="password"
        formControlName="password"

      />
      <nz-upload
      nzAction="https://api.cloudinary.com/v1_1/assignmentjs/image/upload"
      [nzHeaders]="{ authorization: 'authorization-text' }"
      (nzChange)="handleChange($event)"
    >
      <button nz-button>
        <i nz-icon nzType="upload"></i>
        Click to Upload
      </button>
    </nz-upload>
    </nz-form-control>
  </nz-form-item>


  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary">Register</button>
    </nz-form-control>
  </nz-form-item>
  <a routerLink="/signin" class="text-center">Or login now!</a>
</form>
</div>
</div> -->


  <div class="mx-auto max-w-lg">
  <div class="md:col-span-2">
    <form action="#" #formUser="ngForm" id="form-user" method="POST" (ngSubmit)="onSignUp()">
      <div class="shadow sm:rounded-md sm:overflow-hidden">
        <div class="px-4 py-3 bg-white space-y-6 sm:p-6">
          <span class="mx-auto text-left uppercase">Register</span>

          <div>
          <label for="name" class="block text-sm font-medium text-gray-700">
            Name
          </label>
          <div class="mt-1">
          <input 
          type="text" 
          id="name-user" 
          [(ngModel)]="user.name" 
          name="name" 
          class="shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md p-2" 
          placeholder="Name..."
          #name="ngModel"
          required
          minlength="2"
          >
          <div *ngIf="name.errors">
            <div *ngIf="name.errors?.['required'] && (name.dirty || name.touched)" class="text-red-500">
              Name is required
            </div>
            <div *ngIf="name.errors?.['minlength'] && (name.dirty || name.touched)" class="text-red-500">
              Minlength 2 characters
            </div>
          </div>
          </div>
        </div>

        <div>
          <label for="password" class="block text-sm font-medium text-gray-700">
            Password
          </label>
          <div class="mt-1">
          <input 
          type="text" 
          id="password-user" 
          [(ngModel)]="user.password" 
          name="password" 
          class="shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md p-2" 
          placeholder="Password..."
          #password="ngModel"
          required
          minlength="8"
          >
          </div>
          <div *ngIf="password.errors">
            <div *ngIf="password.errors?.['required'] && (password.dirty || password.touched)" class="text-red-500">
              Password is required
            </div>
            <div *ngIf="password.errors?.['minlength'] && (password.dirty || password.touched)" class="text-red-500">
              Password Minlength 2 characters
            </div>
          </div>
        </div>

          <div>
            <label for="email" class="block text-sm font-medium text-gray-700">
              Email
            </label>
            <div class="mt-1">
            <input 
            type="email" 
            id="email-user" 
            [(ngModel)]="user.email" 
            name="email" 
            class="shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md p-2" 
            placeholder="Email..."
            #email="ngModel"
            required
            >
            <div *ngIf="email.errors">
              <div *ngIf="email.errors?.['required'] && (email.dirty || email.touched)" class="text-red-500">
                Email is required
              </div>
              <div *ngIf="email.errors?.['minlength'] && (email.dirty || email.touched)" class="text-red-500">
                Minlength 2 characters
              </div>
            </div>
            </div>
          </div>

          <div>
              <label for="position" class="block text-sm font-medium text-gray-700">
                Position
              </label>
              <div class="mt-1">
              <input 
              type="text" 
              id="position-product" 
              [(ngModel)]="user.position" 
              name="position" 
              class="shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md p-2" 
              placeholder="Position..."
              #position="ngModel"
              required
              minlength="2"
              >
              <div *ngIf="position.errors">
                <div *ngIf="position.errors?.['required'] && (position.dirty || position.touched)" class="text-red-500">
                  Position is required
                </div>
                <div *ngIf="position.errors?.['minlength'] && (position.dirty || position.touched)" class="text-red-500">
                  Minlength 2 characters
                </div>
              </div>
              </div>
            </div>

            <div>
              <label for="about" class="block text-sm font-medium text-gray-700">
                About
              </label>
              <div class="mt-1">
              <input 
              type="text" 
              id="about-product" 
              [(ngModel)]="user.about" 
              name="about" 
              class="shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md p-2" 
              placeholder="About..."
              #about="ngModel"
              required
              minlength="2"
              >
              <div *ngIf="about.errors">
                <div *ngIf="about.errors?.['required'] && (about.dirty || about.touched)" class="text-red-500">
                  About is required
                </div>
                <div *ngIf="about.errors?.['minlength'] && (about.dirty || about.touched)" class="text-red-500">
                  Minlength 2 characters
                </div>
              </div>
              </div>
            </div>
          <div>
            <label class="block text-sm font-medium text-gray-700">
              Image
            </label>
                <div class="flex text-sm text-gray-600 pt-2">
                    <input id="file-upload" (change)="uploadImg($event)" type="file">
            </div>
          </div>

          <div>
            <label class="block text-sm font-medium text-gray-700">
              CV
            </label>
                <div class="flex text-sm text-gray-600 pt-2">
                    <input id="file-upload" (change)="uploadCV($event)" type="file">
            </div>
          </div>
        </div>
        <div class=" py-3 bg-gray-50 text-right sm:px-6 flex justify-between">
          <a routerLink="/signin" class="text-center">Or login now!</a>
          <button type="submit" [disabled]="!formUser.valid" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          <svg class="-ml-1 mr-2 h-5 w-5" x-description="Heroicon name: solid/check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
          </svg>
          Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>


