<main>
    <div class="title">
        <div class="container">
            <h2>Work</h2>
        </div>

    </div>
    <section class="feature_works">
        <div class="container">
            <div class="feature_works__row-item-work">
                <div class="item_work" *ngFor="let project of projects">
                    <div class="item_work__img">
                        <img [src]='project.image' alt='Rectangle-30'/>
                    </div>
                    <div class="item_work__content">
                        <div class="item_work__title">
                            <h2>{{ project.name }}</h2>
                        </div>
                        <div class="item_work__row-date-category">
                            <div class="date">
                             <span>{{ project.createAt }}</span>
                            </div>
                            <div class="category">
                                <span>{{ project.categoryProjectId == 1 ? "HTML5" : "NodeJS" }}</span>
                            </div>
                        </div>
                        <div class="item_work__description">
                            <p>{{ project.short_desc }}</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
</main>
