<main>
    <div class="title">
        <div class="container">
            <h2>Work</h2>
        </div>

    </div>
    <section class="feature_works">
        <div class="container">
            <div class="feature_works__row-item-work">
                <div class="item_work">
                    <div class="item_work__img">
                        <img src='https://i.postimg.cc/0yWmtrcg/Rectangle-30.jpg' alt='Rectangle-30'/>
                    </div>
                    <div class="item_work__content">
                        <div class="item_work__title">
                            <h2>Designing Dashboards</h2>
                        </div>
                        <div class="item_work__row-date-category">
                            <div class="date">
                             <span>2020</span>
                            </div>
                            <div class="category">
                                <span>Dashboard</span>
                            </div>
                        </div>
                        <div class="item_work__description">
                            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
