<section class="information">
    <div class="container">

        <div class="infomation__content" >
            <div class="information__info">
                <h2>
                    Hi, I am <span>John</span>,<br>
                    <span>Creative Technologist</span>
                </h2>
            </div>
            <div class="information__about">
                <p>
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>
            </div>
            <div class="information__btn">
                <button>Download Resume</button>
            </div>
        </div>
        
        <div class="information__img">
            <img src='https://i.postimg.cc/Ss4vK242/Ellipse-1.png' alt='Ellipse-1'/>
        </div>
    </div>
</section>
<section class="rectent_posts">
    <div class="container">
        <div class="rectent_posts__row">
            <div class="row__title">
                <span>Rectent posts</span>
            </div>
            <div class="row__view-all">
                <span>View all</span>
            </div>
        </div>
        <div class="rectent_posts__row-item-rectent">
            <div class="item_recent">
                <div class="item_rectent__title">
                    <h2>Making a design system from scratch</h2>
                </div>
                <div class="item_rectent__row-date-category">
                    <div class="date">
                        <span>12 Feb 2020</span>
                    </div>
                    <div class="category">
                        <span>Design, Pattern</span>
                    </div>
                </div>
                <div class="item_rectent__description">
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </div>


            <div class="item_recent">
                <div class="item_rectent__title">
                    <h2>Making a design system from scratch</h2>
                </div>
                <div class="item_rectent__row-date-category">
                    <div class="date">
                        <span>12 Feb 2020</span>
                    </div>
                    <div class="category">
                        <span>Design, Pattern</span>
                    </div>
                </div>
                <div class="item_rectent__description">
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </div>
        </div>


        
    </div>
</section>
<section class="feature_works">
    <div class="container">
            <div class="row__title">
                <span>Featured works</span>
            </div>
        <div class="feature_works__row-item-work">
            <div class="item_work">
                <div class="item_work__img">
                    <img src='https://i.postimg.cc/0yWmtrcg/Rectangle-30.jpg' alt='Rectangle-30'/>
                </div>
                <div class="item_work__content">
                    <div class="item_work__title">
                        <h2>Designing Dashboards</h2>
                    </div>
                    <div class="item_work__row-date-category">
                        <div class="date">
                         <span>2020</span>
                        </div>
                        <div class="category">
                            <span>Dashboard</span>
                        </div>
                    </div>
                    <div class="item_work__description">
                        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
