<header>
    <div class="container">
        <div class="logo">
            <h3></h3>
        </div>
        <div class="navbar" id="navbar">
            <ul>
                <li><a routerLink="/" class="nav__link">Home</a></li>
                <li><a routerLink="work" class="nav__link">Works</a></li>
                <li><a routerLink="blog" class="nav__link">Blog</a></li>
                <li><a href="" class="nav__link">Contact</a></li>
            </ul>
        </div>
        <div class="nav__toggle" id="nav-toggle">
            <i class='bx bx-menu'></i>
        </div>
    </div>
</header>
