<main>
    <div class="title">
        <div class="container">
            <h2>Contact Us</h2>
            <div class="title__desc">
                <span>Sample text. Click to select the text box. Click again or double click to start editing the text.</span>
            </div>
        </div>

    </div>
    <section class="contact">
        <div class="container">
            <div class="contact__row-contact">
                <div class="contact__item-contact">
                    <div class="item-contact__icon">
                        <i class='bx bx-map'></i>
                    </div>
                    <div class="item-contact__info">
                        <div class="info__title">
                            <h2>Address</h2>
                        </div>
                        <div class="info__content">
                            <p>Chuong My, Ha Noi</p>
                        </div>
                    </div>
                </div>


                <div class="contact__item-contact">
                    <div class="item-contact__icon">
                        <i class='bx bx-phone'></i>
                    </div>
                    <div class="item-contact__info">
                        <div class="info__title">
                            <h2>Phone</h2>
                        </div>
                        <div class="info__content">
                            <a>+84 123456789 </a>
                        </div>
                    </div>
                </div>


                <div class="contact__item-contact">
                    <div class="item-contact__icon">
                        <i class='bx bx-envelope' ></i>
                    </div>
                    <div class="item-contact__info">
                        <div class="info__title">
                            <h2>Email</h2>
                        </div>
                        <div class="info__content">
                            <p>Quyet@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
