<p>admin-layout works!</p>
<div>
<div class="flex">
    <nav>
        <div class="logo"></div>
        <ul>
            <li>nav 1</li>
            <li>nav 2</li>
            <li>nav 3</li>
            <li>nav 4</li>
        </ul>
    </nav>
    <header>
        <div>
            <div class="left">
                <div class="icon_bar"></div>
                <div class="search"></div>
            </div>
            <div class="right">
                <div class="icon-user">

                </div>
                <div class="icon-darkmode">

                </div>
            </div>
        </div>
    </header>
</div>
<main>
    <app-admin-content></app-admin-content>
</main>
</div>