<table class="table " >
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngFor="let product of productList; let i = index">
      <tr>
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.status ? "Còn hàng" : "Hết hàng" }}</td>
        <td><button class="btn btn-danger">Delete</button></td>
      </tr>
    </tbody>
  </table>
