<header class="bg-white">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8 flex justify-between">
      <h1 class="text-3xl font-bold text-gray-900">
        Category Post List
      </h1>
      <a routerLink="add" class="sm:ml-3">
    <button type="button" class="inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
    <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
    <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
    </svg>
      Add Category Post
    </button>
  </a>
    </div>
  </header>
  <main>
  <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
  <div class="flex flex-col">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                STT
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Name
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Action
              </th>
            </tr>
          </thead>
  
          <tbody class="bg-white divide-y divide-gray-200">
              <tr *ngFor="let category of categorys; let i = index" class="hover:bg-gray-50">
              <td class="px-6 py-4 whitespace-nowrap">
                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-orange-100 text-orange-500">
                  {{ i + 1 }}
                </span>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
              <span class="px-2 inline-flex text-sm leading-5 font-semibold">
                {{ category.name }}
              </span>
            </td>
        <td class="px-6 py-4 text-sm font-medium">
        <button class="btn btn-warning mr-2" routerLink="{{ category.id }}/edit">Edit</button>
        
        <button 
          nz-popconfirm
          nzPopconfirmTitle="Are you sure delete this product?"
          (nzOnConfirm)="confirm(category.id!)"
          (nzOnCancel)="cancel()"
          nzPopconfirmPlacement="top"
          class="btn btn-danger text-white">Remove</button>
      </td>
  
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </div>
  </div>
  </main>

  
