<main>
    <section class="feature_works">
      <div class="container">
        <div class="feature_works__row-item-work">
          <div class="item_work">
            <div class="item_work__content">
              <div class="item_work__title">
                <h2>{{ work.name }}</h2>
              </div>
              <div class="item_work__row-date-category">
                <div class="date">
                  <span>{{ work.createAt }}</span>
                </div>
                <div class="category">
                  <span>{{ work.category?.name }}</span>
                </div>
              </div>
              <div class="item_work__description">
                <p>
                  {{ work.description }}
                </p>
              </div>
              <div class="item_work__img">
                <img [src]="work.image" alt="" with="100%"/>
              </div>
            </div>
          </div>

          <!-- <div class="item_work">
              <div class="item_work__content">
                <div class="item_work__title">
                  <h2>Heading 1</h2>
                  <h3>Heading 2</h3>
                </div>
                <div class="item_work__description">
                  <p>
                      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                  </p>
                </div>
                <div class="item_work__img">
                  <img src="img/Rectangle 5.png" alt="" with="100%"/>
                  <img src="img/Rectangle 6.png" alt="" with="100%"/>
                </div>
              </div>
            </div> -->
        </div>
      </div>
    </section>
  </main>
