<main>
    <div class="title">
        <div class="container">
            <h2>Blog</h2>
        </div>

    </div>
    <section class="rectent_posts">
        <div class="container">
            <div class="rectent_posts__row-item-rectent">
                <div class="item_recent" *ngFor="let post of posts">
                    <div class="item_rectent__title">
                        <h2>{{ post.title }}</h2>
                    </div>
                    <div class="item_rectent__row-date-category">
                        <div class="date">
                            <span>{{ post.createAt }}</span>
                        </div>
                        <div class="category">
                            <span>{{ post.categoryPostId == 1 ? "HTML5" : "NodeJS" }}</span>
                        </div>
                    </div>
                    <div class="item_rectent__description">
                        <p>{{ post.short_desc }}</p>
                    </div>
                </div>


    


                
            </div>
        </div>
    </section>
</main>
