<main>
    <div class="title">
        <div class="container">
            <h2>Blog</h2>
        </div>

    </div>
    <section class="rectent_posts">
        <div class="container">
            <div class="rectent_posts__row-item-rectent">
                <div class="item_recent">
                    <div class="item_rectent__title">
                        <h2>UI Interactions of the week</h2>
                    </div>
                    <div class="item_rectent__row-date-category">
                        <div class="date">
                            <span>12 Feb 2019</span>
                        </div>
                        <div class="category">
                            <span>Express, Handlebars</span>
                        </div>
                    </div>
                    <div class="item_rectent__description">
                        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    </div>
                </div>


                <div class="item_recent">
                    <div class="item_rectent__title">
                        <h2>UI Interactions of the week</h2>
                    </div>
                    <div class="item_rectent__row-date-category">
                        <div class="date">
                            <span>12 Feb 2019</span>
                        </div>
                        <div class="category">
                            <span>Express, Handlebars</span>
                        </div>
                    </div>
                    <div class="item_rectent__description">
                        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    </div>
                </div>


                <div class="item_recent">
                    <div class="item_rectent__title">
                        <h2>UI Interactions of the week</h2>
                    </div>
                    <div class="item_rectent__row-date-category">
                        <div class="date">
                            <span>12 Feb 2019</span>
                        </div>
                        <div class="category">
                            <span>Express, Handlebars</span>
                        </div>
                    </div>
                    <div class="item_rectent__description">
                        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    </div>
                </div>


                <div class="item_recent">
                    <div class="item_rectent__title">
                        <h2>UI Interactions of the week</h2>
                    </div>
                    <div class="item_rectent__row-date-category">
                        <div class="date">
                            <span>12 Feb 2019</span>
                        </div>
                        <div class="category">
                            <span>Express, Handlebars</span>
                        </div>
                    </div>
                    <div class="item_rectent__description">
                        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    </div>
                </div>


                
            </div>
        </div>
    </section>
</main>
